body {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px 50px 50px 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #333;
    font-size:36px;
    text-align: center;
}

h2 {
    color: #555;
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}


p {
    font-size: 20px;
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

div {
    text-align: left;

    padding: 20px;
    margin-left: 0;
}

span {
    font-weight: bold;
}

table {
    border: 3px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th, td {
    border: 3px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin: 20px 0 0 0;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para que padding no afecte el ancho total */
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

option, select, input {
    font-size: 14px;
}
