body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size:36px ;
}

p {
    font-size: 20px;
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

div {
    text-align: left;

    padding: 20px;
    margin-left: 0;
}

span {
    font-weight: bold;
}

table {
    border: 3px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th, td {
    border: 3px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
