<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Usuarios críticos y clics en correos de spam</title>
</head>
<body>
    <div>
        <h1>Selecciones el número de usuarios críticos y el filtro de clics de correo de spam:</h1>
        <br>
        <form action="/critical_users_ex2" method="post">
            <label for="num_users">Número de usuarios críticos:</label>
            <input type="number" id="num_users" name="num_users" min="1" max="{{ num_critical }}"><br>
            <label for="clics">Filtro de clics de correo de spam:</label>
            <select id="clics" name="clics">
                <option value="above">Más del 50%</option>
                <option value="below">Menos del 50%</option>
            </select>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">Mostrar</button>
        </form>
    </div>

    <div>
        {% if top_x_users %}
        <h2>Gráfico de usuarios críticos con filtro de clics en spam</h2>
        <img src="data:image/png;base64,{{ top_x_users }}" alt="Gráfico de usuarios con filtro de clics en spam">
        {% endif %}
    </div>
</body>
</html>