<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Sistema de Información</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <a class="btn btn-secondary" href="{{ url_for('logout') }}">Logout</a></head>
<body>
    <h1>Bienvenido al Sistema de Información</h1>
    <p>Selecciona una opción:</p>
    <ul>
        <li><a href="{{ url_for('values_computation') }}">Cálculo de valores generales sobre los datos de los usuarios</a></li>
        <li><a href="{{ url_for('stats') }}">Análisis de datos de emails phishing agrupados por permiso y fuerza de contraseña</a></li>
        <li><a href="{{ url_for('MIS_functions') }}">Análisis de datos mediante gráficos</a></li>
        <br>
        <li><a href="{{ url_for('xUsers') }}">Gráfica variable de usuarios críticos</a></li>
        <li><a href="{{ url_for('xPages') }}">Gráfica variable de páginas desactualizadas</a></li>
        <li><a href="{{ url_for('users_ex2') }}">Gráfica variable de usuarios críticos y clics en correos de spam</a></li>
        <li><a href="{{ url_for('show_vulnerabilities') }}">Últimas 10 vulnerabilidades en tiempo real</a></li>
        <li><a href="{{ url_for('predict_criticality') }}">Predicción de usuarios criticos basado en los modelos de aprendizaje supervisados</a></li>
   
    </ul>
</body>
</html>
