<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Dashboard de Vulnerabilidades</title>
</head>
<body>
    <div id="content_to_pdf">

        <h1>Últimas 10 Vulnerabilidades</h1>
        <br>
        <table>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Fecha Publicación</th>
                <th>Fecha Modificación</th>
                <th>Puntuación CVSS</th>
            </tr>
            {% for vulnerability in vulnerabilities %}
                <tr>
                    <td><span>{{ vulnerability.id }}</span></td>
                    <td style="width: 900px">{{ vulnerability.summary }}</td>
                    <td>{{ vulnerability.Published }}</td>
                    <td>{{ vulnerability.Modified }}</td>
                    <td>{{ vulnerability.cvss }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <button id="generarBtn">Generar Informe</button>
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  
    <script>
        document.getElementById("generarBtn").addEventListener("click", function() {
            var contenidoDiv = document.getElementById("content_to_pdf").innerHTML;
    
            var contenidoInforme = '<!DOCTYPE html>' +
                '<html lang="en">' +
                '<head>' +
                '    <meta charset="UTF-8">' +
                '    <meta name="viewport" content="width=device-width, initial-scale=1.0">' +
                '    <title>Documento PDF</title>' +
                '</head>' +
                '<body>' +
                '<center>' +
                contenidoDiv +
                '</center>' +
                '</body>' +
                '</html>';
    
            // Obtener el valor del token CSRF
            var csrfToken = document.querySelector('input[name="csrf_token"]').value;
            console.log(contenidoInforme)
            // Llamada AJAX para solicitar la generación del PDF
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/generar_pdf", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    
            // Incluir el token CSRF como un encabezado X-CSRFToken
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
    
            // Datos de la solicitud
            var data = JSON.stringify({ 
                contenido_informe: contenidoInforme
            });
    
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var responseData = JSON.parse(xhr.responseText);
                    var pdfUrl = responseData.pdf_path;
                    window.open(pdfUrl, '_blank');
                } else {
                    console.error('Error al generar el PDF:', xhr.statusText);
                }
            };
    
            xhr.send(data);
        });
    </script>
    
    
</body>
</html>
